<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <!--<add name="conexion" connectionString="Data Source=serverc1.ddns.net;Initial Catalog=pimacen;user id=linea;password=linea*2019;" providerName="System.Data.SqlClient"/>-->
    <add name="conexion" connectionString="Data Source=DESKTOP-64HUDE5\SQLEXPRESS;Initial Catalog=Pimacen;user id=Cinthia;password=oygcjyc07;" providerName="System.Data.SqlClient"/>
    <!--<add name="conexion" connectionString="Data Source=DESKTOP-6UUQKCB;Initial Catalog=pimacen;user id=luis;password=123456789;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="Data Source=DESKTOP-VUA03E7\SQLEXPRESS01;Initial Catalog=pimacen;user id=JaredDev;password=admin04;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>

  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <!--<assemblies>
        <add assembly="Microsoft.Office.Interop.Outlook, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>-->
    </compilation>
    <sessionState timeout="30"/>
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false">
      <controls>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!-- Aumento del límite de tamaño de solicitud a 400 MB -->
    <httpRuntime maxRequestLength="409600"/>
    <!--Manejo de paginas de Error-->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
  </system.web>
  <!-- Configuración para IIS 7 y versiones posteriores -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="419430400" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>